<%layout("/layouts/boilerplate.ejs")%>
<div class="row">
  <div class="col-8 offset-3">
    <h3>Listing Details:</h3>
  </div>

  <div class="card col-6 offset-3 show-card">
    <img
      src="<%=listing.image%>"
      class="card-img-top show-img"
      alt="listing_image"
    />
    <div class="card-body">
      <h5 class="card-title"><%=listing.title%></h5>
      <p class="card-text">
        <b><%=listing.description%></b><br />
        <b>&#8377;<%=listing.price.toLocaleString("en-IN")%></b><br />
        <b><%=listing.location%></b><br />
        <b><%=listing.country%></b>
      </p>
    </div>
    <div class="btns">
      <a href="/listings/<%= listing._id%>/edit" class="btn btn-dark edit-btn">
        Edit
      </a>

      <form method="post" action="/listings/<%=listing._id%>?_method=Delete">
        <button class="btn btn-dark offset-4">Delete</button>
      </form>
    </div>
  </div>
</div>
